.advantages-box-filling {
  @media (min-width: $tablet-width) {
    width: 300px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 235px;
  }
}

.advantages-box-filling br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
