.author-text {
  font-family: "OpenSans", "Arial", sans-serif;
  line-height: 30px;
  font-weight: 400;
  width: 277px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 620px;
    margin-top: 59px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    width: 689px;
    margin-top: 13px;
  }
}
