.background-skew-subscription {
  width: 320px;
  height: 506px;
  background-image: url("../../img/background/background-price.png");
  background-position: top center;
  background-repeat: no-repeat;
}
