.background-skew-subscription {
  width: 320px;
  height: 506px;
  background-image: url("../img/background/skew-subscription-mobile.png");
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 534px;
    background-image: url("../img/background/skew-subscription-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 534px;
    background-image: url("../img/background/skew-subscription-desk.png");
  }
}
