.clock-pic {
  width: 258px;
  height: 276px;
  background-image: url("../img/clock/clock-tablet.svg");
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    width: 298px;
    height: 345px;
    background-image: url("../img/clock/clock-desktop.svg");
  }
}
