.contacts-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 330px 330px;
    row-gap: 5px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
