.feedback {
  margin-top: -20px;
  margin-bottom: 0;
}

.author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.author-text {
  line-height: 30px;
}

.feedback__text {
  margin-left: 20px;
  margin-right: 20px;
}
