.intro {
  background-color: $dark;
  height: 733px;
  padding: 0;

  display: grid;
  grid-template-rows: 85px 377px 115px 64px 102px;
}

.slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $white;
}

.download-button {
  line-height: 18px;
}

.available-platforms {
  color: $white;
  padding-bottom: auto;
}

.intro__slogan {
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: auto;

  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.intro__image-background {
  margin: 0;

  grid-row: 1 / 3;
  grid-column: 1 / -1;
}

.intro__image-hand {
  margin-top: auto;

  grid-row: 2 / 3;
  grid-column: 1 / -1;
  z-index: 1;
}

.intro__button {
  margin-top: auto;
  margin-bottom: auto;

  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.intro__list {
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  grid-row: 4 / 5;
  grid-column: 1 / -1;
}

.platform-icons {
  width: 210px;

  display: flex;
  justify-content: space-between;
}

.intro__item {
  margin: auto 0;
}

.intro__text {
  grid-row: 5 / 6;
  grid-column: 1 / -1;
}
