.intro-box {
  height: 729px;
  width: 320px;
  position: relative;

  display: grid;
  grid-template-rows: 85px 377px 120px 59px 87px;

  @media (min-width: $tablet-width) {
    width: 660px;
    grid-template-rows: 343px 140px 72px 174px;
    grid-template-columns: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 853px;
    grid-template-rows: 414px 165px 88px 185px;
    grid-template-columns: 560px;
  }
}

.intro-box__slogan {
  padding-left: 28px;
  padding-right: 28px;
  margin-top: 4px;
  margin-bottom: auto;

  grid-row: 2 / 3;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    width: 200px;
    margin: 0 auto;
    margin-top: 204px;

    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    padding-right: 28px;
    margin-top: 207px;
  }
}

.intro-box__image-background {
  grid-row: 1 / 3;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-row: 1 / -1;
  }
}

.intro-box__image-hand {
  top: 176px;
  left: 0;

  @media (min-width: $tablet-width) {
    top: -159px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    top: -206px;
    left: 146px;
  }
}

.intro-box__button {
  margin: auto;
  margin-top: 28px;

  grid-row: 3 / 4;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    margin-top: 35px;

    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    margin-right: 130px;
  }
}

.intro-box__list {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;

  grid-row: 4 / 5;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
  }
}

.intro-box__item {
  margin: auto 0;
}

.intro-box__item img {
  display: block;
  margin: auto 0;
}

.intro-box__item-apple {
  margin-top: -5px;
}

.intro-box__item:last-child img {
  margin-top: 5px;
}

.intro-box__text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;

  grid-row: 5 / 6;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-row: 4 / 5;
  }
}
