.main-advantages-flex {
  @media (min-width: $tablet-width) {
    margin-top: 79px;
    margin-right: auto;
    text-align: left;

    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin-top: -51px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 920px;
    background-color: $form-background-dark;
    z-index: 2;

    flex-direction: row;
    justify-content: flex-start;
  }
}
