.more-advantages-heading {
  font-family: "OpenSans-bold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  width: 168px;
  height: 40px;

  @media (min-width: $desktop-width) {
    width: auto;
    height: 11px;
  }
}
