.more-advantages-flex {
  width: 297px;
  height: min-content;
  text-align: left;
  padding-right: 33px;
  margin-top: 65px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-top: 78px;
    padding-right: 0;
  }
}
