.phone-palm {
  width: 320px;
  height: 286px;
  position: absolute;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 545px;
    z-index: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    height: 645px;
  }
}
