.point {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $contrast-heading;
  border: 10px solid $white;
  position: absolute;
  top: 91px;
  left: 142px;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 233px;
    left: 311px;
  }

  @media (min-width: $desktop-width) {
    top: 264px;
    left: 582px;
  }
}
