.point {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $contrast-heading;
  border: 10px solid $white;
  position: absolute;
  top: 465px;
  left: 142px;

  @media (min-width: $tablet-width) {
    top: 541px;
    left: 305px;
  }

  @media (min-width: $desktop-width) {
    top: 548px;
    left: 582px;
  }
}
