.subscription-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  height: 23px;
  letter-spacing: 1px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-bottom: 6px;
  }
}
