.button-cansel {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  background-color: transparent;
  border: 3px solid $contrast-heading;
  border-radius: 30px;
  width: 280px;
  height: 55px;
  border-color: $nav-active;
  opacity: 0.3;
}
