.button-cansel {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  border: 3px solid $contrast-heading;
  border-radius: 30px;
  width: 280px;
  border-color: $nav-active;
  opacity: 0.1;

  @media (min-width: $tablet-width) {
    width: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
  }
}
