.card {
  height: min-content;

  @media (min-width: $tablet-width) {
    min-height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    min-height: 555px;
    margin: 0;
  }
}

.card__image {
  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
  }
}
