.customize {
  width: 320px;
  height: 365px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 275px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.customize__unit-console {
  margin-top: 44px;
  margin-left: 26px;
  margin-right: auto;
}

.customize__unit-tuner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.customize__unit-button {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-left: 2px;
  }
}
