.highlighter {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  width: 140px;
  height: 30px;
  background-color: $contrast-heading;
  color: $white;
  padding-left: auto;
  padding-right: auto;
  padding-top: 7px;
  position: absolute;
  letter-spacing: 0.8px;
}
