.motivation-caption {
  line-height: 30px;
  font-weight: 400;
  width: 260px;
  height: 133px;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 422px;
    height: 129px;
    margin-top: -6px;
    padding-top: 71px;
    letter-spacing: 0.4px;
  }

  @media (min-width: $desktop-width) {
    height: 127px;
    padding-top: 64px;
  }
}
