.motivation-caption {
  line-height: 30px;
  font-weight: 400;
  width: 260px;
  height: 133px;
  padding-top: 40px;


  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 422px;
    height: 126px;
    padding-top: 73px;
  }

  @media (min-width: $desktop-width) {
    height: 116px;
    padding-top: 67px;
  }
}
