.post {
  width: 100%;
  background-color: $form-background-dark;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 31px;
  }
}

.post__wrapper {
  margin: 0 auto;
}
