.tab {
  width: 280px;
  height: 124px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    width: 260px;
    height: 151px;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    height: 55px;
    margin-top: 129px;
    margin-left: 0;

    flex-direction: row;
  }
}
