body {
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: $white;
  min-width: 320px;

  min-height: 100%;
  display: grid;
  grid-template-rows: 66px min-content 284px;

  @media (min-width: $tablet-width) {
    grid-template-rows: 110px min-content 127px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 110px min-content 197px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: $white;
}

.title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.button {
  font-family: "OpenSans-Bold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.background-image {
  width: 320px;
  height: 462px;
  background-image: url("../img/background/back-mobile.jpg");
  background-position: top center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/back-mobile@2x.jpg");
    background-size: 320px auto;
  }


  @media (min-width: $tablet-width) {
    width: 660px;
    height: 729px;
    background-image: url("../img/background/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/back-tablet@2x.jpg");
      background-size: 660px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 853px;
    background-image: url("../img/background/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}
