.achivements {
  background-color: $form-background-dark;
  width: 320px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    width: 620px;
    height: 550px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    height: 230px;
  }
}

.achivements__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.achivements__wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
