.achivements-caption {
  line-height: 18px;
  font-weight: 400;
  color: $contrast-heading;
  width: 218px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 30px;
    width: 374px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $white;
    z-index: 2;
    margin-top: -39px;
    letter-spacing: 0.3px;
  }
}
