.comment__label {
  display: block;
  margin-bottom: 15px;
}

.comment-caption {
  line-height: 18px;
  font-weight: 400;
  color: $contrast-heading;
  text-transform: uppercase;
}

.textarea {
  border: 2px solid $form-background-dark;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 22px;
}
