.contacts-block {
  width: 280px;
  height: 280px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 620px;
    height: 306px;

    grid-row: 6 / 7;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    height: 158px;
    margin-top: -30px;

    flex-direction: row;
  }
}
