.form-button {
  font-size: 18px;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  background-color: $button-background;
  border: 3px solid $button-background;
  border-radius: 3px;
  width: 280px;
  height: 63px;
  padding-bottom: 7px;
  padding-top: 4px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}
