.form-input-contacts {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  border: 2px solid $form-border;
  border-radius: 3px;
  width: 255px;
  height: 59px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 351px;
  }
}
