.form-intro {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.form-intro__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 92px;

  @media (min-width: $tablet-width) {
    margin-top: 191px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 184px;
  }
}
