.name-flex {
  height: 115px;
  letter-spacing: 1px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    height: 77px;

    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    height: 60px;
  }
}

.name-flex__label {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-top: 18px;
    margin-bottom: auto;
    padding-left: 0;
    padding-right: 16px;
  }
}

.name-flex__input {
  margin-bottom: 20px;
  padding-left: 20px;
  letter-spacing: 0.5px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    margin-bottom: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
    margin-bottom: auto;
  }
}
