.questionnaire-legend {
  width: 280px;
  line-height: 30px;
  font-weight: 400;
  display: block;
  letter-spacing: 0.2px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 490px;
  }

  @media (min-width: $desktop-width) {
    width: 756px;
    letter-spacing: 0.3px;
  }
}

.questionnaire-legend span {
  display: none;

  @media (min-width: $tablet-width) {
    display: contents;
  }
}
