.radio-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-left: 51px;
  letter-spacing: 0.5px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-left: 42px;
  }
}
