.textarea {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  border: 2px solid $form-background-dark;
  height: 183px;
  width: 236px;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 457px;
    height: 174px;
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 776px;
    height: 109px;
    margin-top: 11px;
  }
}
