.modal {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  position: absolute;
  width: 280px;
  height: 325px;
  padding: 0 20px;
  background-color: $nav-active;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 620px;
    height: 365px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    height: 110px;
    margin-left: auto;
    background-color: transparent;
    position: static;
    padding-right: 0;
  }
}

.modal__button {
  width: 23px;
  height: 23px;
  margin-top: 18px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-top: 43px;
  }
}

.modal__button--hide {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.modal__list {
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .modal__item {
    margin-top: auto;
    margin-bottom: auto;
  }
}
