.footer__list {
  display: block;
}

.footer__item-logo {
  margin-top: 25px;
  margin-bottom: 50px;
}

.footer__link {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.footer__item-socials {
  margin-bottom: 50px;
}

.footer__item-copyright {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  margin-top: auto;
  margin-bottom: auto;
}

.footer__image-copyrigh {
  margin-top: 5px;
}
