.socials__list {
  margin-left: auto;
  margin-right: auto;
  width: 149px;

  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 141px;
  }
}

.socials__item {
  margin-top: auto;
  margin-bottom: auto;
}

.socials__button {
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
}

.socials__image-ellipse {
  position: absolute;
  top: -17px;
  left: -17px;
}
